name: Test or Release

on:
  push:
    branches:
      - master
    tags-ignore:
      - '**'
    paths-ignore:
      - '**/*.md'
      - LICENSE
  pull_request:

permissions:
  contents: write
  id-token: write

jobs:
  test-or-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: pnpm/action-setup@v4
      with:
        version: latest
    - uses: actions/setup-node@v6
      with:
        node-version: 'lts/*'
        registry-url: 'https://registry.npmjs.org'
        cache: 'pnpm'
    - run: pnpm i --frozen-lockfile --no-verify-store-integrity
    - run: npm run build
    - run: npm test
    - uses: codecov/codecov-action@v4
      if: ${{ github.ref_name == 'master' }}
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
    - uses: prantlf/publish-release-action@v1
      if: ${{ github.ref_name == 'master' }}
      with:
        no-archives: true
        no-npm-auth: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
